torch>=2.9.1
flash-attn==2.8.3
sglang>=0.5.6.post2
transformers>=4.57.3
vllm>=0.13.3
deepspeed==0.18.3
easydict
decord
orjson
accelerate
bitsandbytes
datasets
einops
loralib
peft
tensorboard
tqdm
wandb
nltk
mathruler
loguru
librosa
qwen-vl-utils
sympy